{% extends "base.html" %}
{% block content %}
  <h2>Create Post</h2>
  <form method="POST">
    {{ form.hidden_tag() }}

    <div>
      {{ form.title.label }}<br>
      {{ form.title(size=50) }}
      {% for error in form.title.errors %}
        <span style="color: red;">{{ error }}</span>
      {% endfor %}
    </div>

    <div>
      {{ form.content.label }}<br>
      {{ form.content(rows=5, cols=50) }}
      {% for error in form.content.errors %}
        <span style="color: red;">{{ error }}</span>
      {% endfor %}
    </div>

    <div>
      {{ form.enabled.label }} {{ form.enabled() }}
    </div>

    <div>
      {{ form.posted.label }}<br>
      {{ form.posted() }}
      {% for error in form.posted.errors %}
        <span style="color: red;">{{ error }}</span>
      {% endfor %}
    </div>

    <div>
      {{ form.author.label }}<br>
      {{ form.author(class="form-select") }}
      {% for error in form.author.errors %}
        <span style="color: red;">{{ error }}</span>
      {% endfor %}
    </div>


    <div>
      {{ form.category.label }}<br>
      {{ form.category() }}
      {% for error in form.category.errors %}
        <span style="color: red;">{{ error }}</span>
      {% endfor %}
    </div>

    <div>
      {{ form.submit() }}
    </div>
  </form>
{% endblock %}
