{% extends 'base.html' %}
{% block content %}

<section id="about" class="mb-5 text-center">
  <h2>About Me</h2>
  <p class="lead">Motivated and detail-oriented software developer passionate about backend technologies, Java, and modern web solutions.</p>
</section>

<section id="education" class="mb-5">
  <h2>Education</h2>
  <ul>
    <li><strong>Carpathian National University</strong> — Bachelor in Software Engineering (2023–2027)</li>
  </ul>
</section>

<section id="technologies" class="mb-5">
  <h2>Technologies</h2>
  <div class="tech-list">
    <span><img src="{{ url_for('static', filename='image/java.png') }}" alt="Java"> Java</span>
    <span><img src="{{ url_for('static', filename='image/spring.png') }}" alt="Spring Boot"> Spring Boot</span>
    <span><img src="{{ url_for('static', filename='image/hibernate.png') }}" alt="Hibernate"> Hibernate</span>
    <span><img src="{{ url_for('static', filename='image/mysql.png') }}" alt="MySQL"> MySQL</span>
    <span><img src="{{ url_for('static', filename='image/mongodb.svg') }}" alt="MongoDB"> MongoDB</span>
    <span><img src="{{ url_for('static', filename='image/docker.png') }}" alt="Docker"> Docker</span>
    <span><img src="{{ url_for('static', filename='image/postman.svg') }}" alt="Postman"> Postman</span>
  
  </div>
</section>

<section id="experience" class="mb-5">
  <h2>Experience</h2>
  
  <div class="project">
    <h4>PNU Dev</h4>
    <p>Contributed to university software projects, building internal web tools with Java Spring Boot.</p>
  </div>

  <div class="project">
    <h4>IT Operations Engineer at Diya</h4>
    <p>Assisted in maintaining local servers and internal systems. </p>  
</div>
</section>


<section id="hobbies" class="mb-5">
  <h2>Hobbies</h2>
  <p>Gaming, lifting weight, camping</p>
</section>

{% endblock %}
