{% extends "base.html" %}
{% block content %}
<section id="projects" class="container mt-5">
  <h2 class="text-center mb-4">My Projects</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card shadow-sm mb-4 project-card h-100">
        <div class="card-body">
          <h5 class="card-title">NewsRadar News Aggregator</h5>
          <p class="card-text">A web app that aggregates news articles from multiple sources and provides filtering by tags and categories.</p>
          <a href="https://github.com/yablonovskydima/news-radar" class="btn btn-primary">GitHub</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow-sm mb-4 project-card h-100">
        <div class="card-body">
          <h5 class="card-title">Flask Portfolio</h5>
          <p class="card-text">Personal portfolio website built with Flask to showcase skills, experience, and projects.</p>
          <a href="https://github.com/yablonovskydima/flask-app-lab" class="btn btn-primary">GitHub</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow-sm mb-4 project-card h-100">
        <div class="card-body">
          <h5 class="card-title">Oselia RealEstate Website</h5>
           <p class="card-text">
                Full-stack real estate platform for browsing, managing, and publishing property listings. 
                Features include property filtering, user roles, and secure API integration.
            </p>
          <a href="https://github.com/yablonovskydima/oselia" class="btn btn-primary">GitHub</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow-sm mb-4 project-card h-100">
        <div class="card-body">
          <h5 class="card-title">GLOS File Storage</h5>
            <p class="card-text">
                Cloud-based file storage system built with Spring Boot. 
                Provides secure upload, download, and sharing via JWT authentication and role-based access control.
            </p>
          <a href="https://github.com/yablonovskydima/GLOS_Backend" class="btn btn-primary">GitHub</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}