{% extends "base.html" %}
{% block content %}
<section id="projects" class="container mt-5">
  <h2>My Projects</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card shadow-sm mb-4">
        <div class="card-body">
          <h5 class="card-title">News Aggregator</h5>
          <p class="card-text">Web application for collecting news from various sources.</p>
          <a href="https://github.com/yablonovskydima/news-radar" class="btn btn-primary">GitHub</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
